exampleProjects/multiFlavorExample/MultiFlavorExampleProject/.gradle
exampleProjects/multiFlavorExample/MultiFlavorExampleProject/build
plugin/.gradle
plugin/build
exampleProjects/basicExample/BasicExampleProject/.gradle
exampleProjects/basicExample/BasicExampleProject/build
